*{
  margin: 0;
  padding:0;
  list-style: none;
  text-decoration: none;
}
:root{
  --primarycolor:rgb(27, 25, 25);
  --secondarycolor:rgb(171, 115, 13);
}
.html{
  font-size: 10px;
}
.container-fluid{
  width: 100%;

}
.container{
  width: 1160px;
}